
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Факты</title>
    <style>
        body {
            background: #FDF6FE;
        }
    </style>
</head>
<body>
    <h1 align="center"><b><i><font color="#DC6A9E" face="Courier" size="15">Немного фактов:</font></i></b></h1>
<div>
    <ul>
        <font COLOR="#4B4B72" FACE="Courier" size="3"><i>
        <li> Я родилась 10 июня 1997 года </li>
        <li> Мой родной город - Ижевск</li>
        <li> Все 11 классов я проучилась в Гимназии №83</li>
        <li> С первого по шестой классы играла на домре, с шестого по одиннадцатый входила в состав ансамбля авторской песни "Вертикаль"</li>
        <li> В 8 классе решила уехать учиться в СПб, что успешно осуществила</li>
        <li> На данный момент учусь в СПб НИУ ИТМО</li>
        <li> Я левша :)</li>
        <li> Как ни странно, пасмурная погода невероятно поднимает мое настроение (вследствие чего Петербург - идеальный для меня город)</li>
        </i></font>
    </ul>
</div>
</body>
</html>
